#header {
  position: relative;
  height: 150px;
  padding: 5px 2em 0.5em 20px;
  color: #1a2611;
  /*background: #ffffff url("../img/header_swing.jpg") right top no-repeat;*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}